<a href="https://colab.research.google.com/github/lodxdy/AI-ML/blob/main/Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Programming

# Variables and constants

- Used to “save” the problem data
- Any data that can be changed over time must be treated as a variable
- When there is no possibility to change data, it is treated as a constant

Example: The equation for calculating the area of a triangle is BASE * HEIGHT / 2. **Base** and **height** are data that will change over the “runtime”. Number 2 is constant, as it will always be the same

## Types of variables

- Integers: positive or negative numbers (no fractional). Examples: 1, 30, 40, 12, -50
- Float (real): positive or negative numbers (fractional - can also be integers). Examples: 1.4, 6.7, 10.3, 100, -47
- Characters (char or string): any element present on the keyboard. Examples: “Maria”, “John”, ‘M’, ‘F’
- Logic (boolean): true or false. Examples: true, false, 1, 0

## Integer variables

In [ ]:
number1 = -3
number2 = 14
number3 = 15

In [ ]:
number1

-3

In [ ]:
print(number2)

14

In [ ]:
print(number1, number3)

-3 15

## Float variables

In [ ]:
float1 = 3.14
float2 = 2.71
float3 = -4.55

In [ ]:
print(float1)
print(float2)
print(float3)

3.14
2.71
-4.55

## String and char

In [ ]:
letter = 'a' # char
word1 = 'programming language'
word2 = 'Python'

In [ ]:
print(letter, word1)

a programming language

In [ ]:
print('I am learning', word2)

I am learning Python

In [ ]:
print('This', word1, 'is called', word2)

This programming language is called Python

In [ ]:
age = int(input('Type your age: '))
print('Your age is ', age)

Type your age: 21
Your age is  21

In [ ]:
age

21

In [ ]:
speed = float(input('Type the speed: '))
print('The speed is', speed)

Type the speed: 80.5
The speed is 80.5

In [ ]:
speed

80.5

In [ ]:
name = str(input('What is your name?'))
print('Your name is', name)

What is your name?Jones
Your name is Jones

In [ ]:
name

'Jones'

# Mathematical operations

In [ ]:
a = 5
b = 3
print(a, b)

5 3

In [ ]:
a + b

8

In [ ]:
print('The sum is', a + b)

The sum is 8

In [ ]:
print('The subctraction is', a - b)

The subctraction is 2

In [ ]:
print('The multiplication is', a * b)

The multiplication is 15

In [ ]:
print('The division is', a / b)

The division is 1.6666666666666667

In [ ]:
print('The rest is', 10 % 2)

The rest is 0

In [ ]:
5 * 5 * 5 * 5

625

In [ ]:
print('5 to the power of 4 is', 5**4)

5 to the power of 4 is 625

In [ ]:
import math
math.sqrt(81)

9.0

# Rouding

In [ ]:
print('The division is', round(a / b, 2))

The division is 1.67

# Logical operators

In [ ]:
a = True
b = False

In [ ]:
print(a, b)

True False

In [ ]:
a and b

False

In [ ]:
a & b

False

In [ ]:
c = a and b
print("Are 'A' and 'B' equal?", c)

Are 'A' and 'B' equal? False

In [ ]:
a or b

True

In [ ]:
a | b

True

In [ ]:
d = a or b
print("Are 'A' or 'B' equal?", d)

Are 'A' or 'B' equal? True

In [ ]:
a

True

In [ ]:
not a

False

In [ ]:
b

False

In [ ]:
not b

True

# Relational operators

In [ ]:
5 > 3

True

In [ ]:
5 < 3

False

In [ ]:
5 >= 5

True

In [ ]:
5 <= 3

False

In [ ]:
5 == 5

True

In [ ]:
5 == 3

False

In [ ]:
5 != 5

False

In [ ]:
5 != 3

True

# Conditional operators

In [ ]:
# { }
# begin end
if 5 > 3:
  print('5 is greater than 3')

5 is greater than 3

In [ ]:
if 5 > 6:
  print('5 is greater')
else:
  print('5 is not greater')

5 is not greater

In [ ]:
if 6 > 5:
  print('6 is greater')
elif 6 < 5: # else if
  print('6 is less')
else:
  print('Equal')

6 is greater

In [ ]:
n = 2
if n == 4:
  print('n is equal to 4')
else:
  if n == 3:
    print('n is equal to 3')
  else:
    print('n is not equal to 4 and not equal to 3')

n is not equal to 4 and not equal to 3

In [ ]:
x = 2
y = 4

if (x > 1) and (y % 2 == 0):
  print("'x' is greater than 1 and 'y' is even")
else:
  print('One or more conditions are False')

'x' is greater than 1 and 'y' is even

# Strings

In [ ]:
a = 'python'
print(a)

python

In [ ]:
upper = a.upper()
print(upper)

PYTHON

In [ ]:
lower = upper.lower()
print(lower)

python

In [ ]:
capital = a.capitalize()
print(capital)

Python

In [ ]:
middle = a[0:3]
print(middle)

pyt

In [ ]:
last = a[3:]
print(last)

hon

In [ ]:
b = a.replace('y', 'i')
print(b)

pithon

In [ ]:
c = a.replace('th', 'ht')
print(c)

pyhton

In [ ]:
c.find('h')

2

In [ ]:
c.find('p')

0

In [ ]:
c.find('m')

-1

In [ ]:
len(c)

6

In [ ]:
d = ' python '
print(len(d))

8

In [ ]:
e = d.strip()
print(len(e))

6

In [ ]:
n1 = 14
n2 = 16

In [ ]:
print(f'{n1} divided by {n2} is {n1 / n2}')

14 divided by 16 is 0.875

# For loop

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

In [ ]:
for number in range(1, 6):
  print(number)

1
2
3
4
5

In [ ]:
for number in range(5, 0, -1):
  print(number)

5
4
3
2
1

In [ ]:
5 + 4 + 3 + 2 + 1

15

In [ ]:
# 1 - 0 + 1 = 1
# 2 - 1 + 2 = 3
# 3 - 3 + 3 = 6
# 4 - 6 + 4 = 10
# 5 - 10 + 5 = 15
sum = 0
for number in range(1, 6):
  #print(number)
  sum = sum + number
  #print(sum)
print(sum)

15

In [ ]:
word = 'python'
for letter in word:
  #print(letter)
  if letter == 'l':
    print('It has found letter h')

In [ ]:
for i in range(0,5):
  print(i)
  print('------')
  for j in range(0,3):
    print(j)
  print()

0
------
0
1
2

1
------
0
1
2

2
------
0
1
2

3
------
0
1
2

4
------
0
1
2

# While loop

In [ ]:
number = 1
while number < 6:
  print(number)
  number += 1

1
2
3
4
5

In [ ]:
number = 5
while number > 0:
  print(number)
  number -= 1

5
4
3
2
1

In [ ]:
1 + 2 + 3 + 4 + 5

15

In [ ]:
sum = 0
number = 1
while number < 6:
  #print(number)
  sum += number
  number += 1
print(sum)

15

In [ ]:
grade = 19
while grade < 1 or grade > 10:
  grade = float(input('Type a grade from 0 to 10: '))

Type a grade from 0 to 10: 5

# Functions

- Parts of code that are given a name and can be called multiple times during execution
- Advantages: code reuse, modularity and maintenance

## No parameter, no return

In [ ]:
def message():
  print('Text')

In [ ]:
message()
message()
message()

Text
Text
Text

## Parameter, no return

In [ ]:
def message(text):
  print(text)

In [ ]:
message('Text 1')
message('Text 2')
message('Text 3')

Text 1
Text 2
Text 3

In [ ]:
def sum(a, b):
  print(a + b)

In [ ]:
sum(2,3)

5

In [ ]:
sum(3,3)
sum(1, 2)

6
3

## Parameter, return

In [ ]:
def sum(a, b):
  return a + b

In [ ]:
sum(3, 2)

5

In [ ]:
r = sum(3, 2)
print(r)

5

In [ ]:
def multiply(a, b, c = 3):
  '''
  Multiply the values
  Parameters:
  a: number 1
  b: number 2

  Optional:
  c: default value 3
  '''
  return a * b * c

In [ ]:
r = multiply(2, 2, 2)
print(r)

8

In [ ]:
r = multiply(2, 2)
print(r)

12

In [ ]:
help(multiply)

Help on function multiply in module __main__:

multiply(a, b, c=3)
    Multiply the values
    Parameters:
    a: number 1
    b: number 2

    Optional:
    c: default value 3

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Collections

## Tuple

In [ ]:
tuple1 = ('Dog', 'Cat', 'Horse')

In [ ]:
tuple1

('Dog', 'Cat', 'Horse')

In [ ]:
tuple1[0]

'Dog'

In [ ]:
tuple1.index('Horse')

2

In [ ]:
for element in tuple1:
  print(element)

Dog
Cat
Horse

## List

In [ ]:
list1 = ['Cat', 'Dog', 'Horse']
list2 = ['Bird', 'Snake']

In [ ]:
list1

['Cat', 'Dog', 'Horse']

In [ ]:
list2

['Bird', 'Snake']

In [ ]:
list3 = list1 + list2

In [ ]:
list3

['Cat', 'Dog', 'Horse', 'Bird', 'Snake']

In [ ]:
list2

['Bird', 'Snake']

In [ ]:
list2_2 = list2 * 3

In [ ]:
list2_2

['Bird', 'Snake', 'Bird', 'Snake', 'Bird', 'Snake']

In [ ]:
list1

['Cat', 'Dog', 'Horse']

In [ ]:
list1[0], list1[1], list1[2]

('Cat', 'Dog', 'Horse')

In [ ]:
list1[0:2]

['Cat', 'Dog']

In [ ]:
list1.append('Monkey')

In [ ]:
list1

['Cat', 'Dog', 'Horse', 'Monkey']

In [ ]:
list1.remove('Cat')

In [ ]:
list1

['Dog', 'Horse', 'Monkey']

In [ ]:
del(list1)

In [ ]:
list1

NameError: ignored

In [ ]:
list2_2

['Bird', 'Snake', 'Bird', 'Snake', 'Bird', 'Snake']

In [ ]:
for item in list2_2:
  print(item)

Bird
Snake
Bird
Snake
Bird
Snake

## Dictionary

In [ ]:
animal = {'Dog': 32, 'Cat': 22, 'Horse': 14}

In [ ]:
animal['Dog']

32

In [ ]:
animal['Monkey'] = 11

In [ ]:
animal

{'Dog': 32, 'Cat': 22, 'Horse': 14, 'Monkey': 11}

In [ ]:
print(animal)

{'Dog': 32, 'Cat': 22, 'Horse': 14, 'Monkey': 11}

In [ ]:
del(animal)['Horse']

In [ ]:
animal

{'Dog': 32, 'Cat': 22, 'Monkey': 11}

In [ ]:
animal.items()

dict_items([('Dog', 32), ('Cat', 22), ('Monkey', 11)])

In [ ]:
animal.keys()

dict_keys(['Dog', 'Cat', 'Monkey'])

In [ ]:
animal.values()

dict_values([32, 22, 11])

In [ ]:
animal2 = {'Bird': 13, 'Snake': 14}
animal2

{'Bird': 13, 'Snake': 14}

In [ ]:
animal.update(animal2)

In [ ]:
print(animal)

{'Dog': 32, 'Cat': 22, 'Monkey': 11, 'Bird': 13, 'Snake': 14}

In [ ]:
animal.items()

dict_items([('Dog', 32), ('Cat', 22), ('Monkey', 11), ('Bird', 13), ('Snake', 14)])

In [ ]:
for a, v in animal.items():
  print(a, v)

Dog 32
Cat 22
Monkey 11
Bird 13
Snake 14

## Set

In [ ]:
set1 = ('A', 'B', 'C', 'D', 'B', 'C', 'C', 'C')

In [ ]:
set1

('A', 'B', 'C', 'D', 'B', 'C', 'C', 'C')

In [ ]:
print(set(set1))

{'D', 'C', 'A', 'B'}

In [ ]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

In [ ]:
s3 = s1.intersection(s2)
print(s3)

{3, 4, 5}

In [ ]:
s1.difference(s2)

{1, 2}

In [ ]:
s2.difference(s1)

{6, 7}

## Matrix

In [ ]:
import numpy

In [ ]:
matrix = numpy.array([[2,3,1],
                      [4,5,7]])

In [ ]:
matrix

array([[2, 3, 1],
       [4, 5, 7]])

In [ ]:
matrix.shape

(2, 3)

In [ ]:
matrix[0]

array([2, 3, 1])

In [ ]:
matrix[1]

array([4, 5, 7])

In [ ]:
matrix[0][1]

3

In [ ]:
matrix[1][2]

7

In [ ]:
matrix.shape[0]

2

In [ ]:
matrix.shape[1]

3

In [ ]:
for row in range(matrix.shape[0]):
  #print(row)
  #print(matrix[row])
  for column in range(matrix.shape[1]):
    #print(column)
    print(matrix[row][column])

2
3
1
4
5
7

# Math

- Documentation: https://docs.python.org/3/library/math.html

In [ ]:
import math

In [ ]:
math.sqrt(9)

3.0

In [ ]:
math.sin(45)

0.8509035245341184

In [ ]:
math.cos(45)

0.5253219888177297

In [ ]:
math.log(1000, 10)

2.9999999999999996

In [ ]:
math.log(32, 2)

5.0

In [ ]:
math.log(1000)

6.907755278982137

In [ ]:
math.e

2.718281828459045

In [ ]:
math.log(1000, math.e)

6.907755278982137

In [ ]:
math.pi

3.141592653589793

# Datetime

- Documentation: https://docs.python.org/3/library/datetime.html

In [ ]:
import datetime

In [ ]:
datetime.date.today()

datetime.date(2022, 9, 13)

In [ ]:
datetime.datetime.now()

datetime.datetime(2022, 9, 13, 16, 28, 33, 105536)

In [ ]:
date = datetime.date(2022, 9, 13)

In [ ]:
date

datetime.date(2022, 9, 13)

In [ ]:
date.day

13

In [ ]:
date.month

9

In [ ]:
date.year

2022

In [ ]:
time = datetime.datetime(2022, 9, 13, 13, 32, 0)

In [ ]:
time

datetime.datetime(2022, 9, 13, 13, 32)

In [ ]:
time.hour

13

In [ ]:
time.minute

32

In [ ]:
time.second

0

# Random

- Documentation: https://docs.python.org/3/library/random.html

In [ ]:
import random

In [ ]:
random.random()

0.7300992753581425

In [ ]:
random.randint(1, 10)

6

In [ ]:
random.randrange(0, 10, 2)

0

In [ ]:
random.randrange(0, 10, 3)

0

In [ ]:
x = ['K', 'd', 13, '34j', 'x']
x

['K', 'd', 13, '34j', 'x']

In [ ]:
random.choice(x)

'x'

# Time

- Documentation: https://docs.python.org/3/library/time.html

In [ ]:
import time as tm

In [ ]:
tm.time()

1663087845.9918952

In [ ]:
before = tm.time()
l = []
for i in range(0,100000):
  l.append(i)
after = tm.time()

In [ ]:
interval = after - before
print(f'Time: {interval} seconds')

Time: 0.021404504776000977 seconds

In [ ]:
print('Finishing....')
tm.sleep(2)
print('....')
tm.sleep(2)
print('Good bye')

Finishing....
....
Good bye

# Custom modules/packages

In [ ]:
import utils

In [ ]:
utils.sum(2, 3)

5

In [ ]:
utils.multiply(2, 2, 3)

12

In [ ]:
utils.div(10, 5)

2.0

# Errors and exceptions

- NameError: variable not defined
- TypeError: incompatible data types
- RuntimeError: runtime error
- SyntaxError: syntax is invalid and not recognized by the interpreter
- ZeroDivisionError: division by zero
- IndexError: index out of bounds

## Error types

In [ ]:
3 = 4

SyntaxError: ignored

In [ ]:
print('My name is ', name)

NameError: ignored

In [ ]:
print(3 / 0)

ZeroDivisionError: ignored

In [ ]:
2.3 / 'dog'

TypeError: ignored

In [ ]:
c = [1,2,3,4,5]
c

[1, 2, 3, 4, 5]

In [ ]:
c[5]

IndexError: ignored

## Manipulating errors

In [ ]:
try:
  n = int(input('Type an integer number: '))
except:
  print('Invalid number!')
else:
  print(f'The number typed is {n}')

Type an integer number: yyy
Invalid number!

In [ ]:
while True:
  try:
    n = int(input('Type an integer number: '))
  except:
    print('Invalid number!')
  else:
    print(f'The number typed is {n}')
    break

Type an integer number: yy
Invalid number!
Type an integer number: 9
The number typed is 9

In [ ]:
while True:
  try:
    n = int(input('Type an integer number: '))
  except ValueError:
    print('Invalid number!')
  except KeyboardInterrupt:
    print('Program interrupted by the user')
    break
  else:
    print(f'The number typed is {n}')
    break

Type an integer number: 8
The number typed is 8

# Text files

In [ ]:
with open('/content/sentence.txt', 'r') as txt:
  for row in txt:
    print(row)

I am

learning

Python programming

language

In [ ]:
with open('/content/sentence.txt') as txt:
  r = txt.readlines()

In [ ]:
r

['I am\n', 'learning\n', 'Python programming\n', 'language\n']

In [ ]:
with open('txt2.txt', 'w') as txt:
  txt.write('Hello everyone')

In [ ]:
with open('/content/txt2.txt', 'r') as txt:
  for row in txt:
    print(row)

Hello everyone

# Regular expressions

- https://regexr.com/

In [ ]:
import re

## search

In [ ]:
sentence = 'Hello! My phone number is (00)0102-0500'

In [ ]:
re.search('\(\d{2}\)\d{4}-\d{4}', sentence)

In [ ]:
sentence = 'The licence plate of my car is FrR-1398'

In [ ]:
re.search('[A-Za-z]{3}-\d{4}', sentence)

In [ ]:
email = 'My e-mail is ty8787est@teyyyst.com'

In [ ]:
re.search('\w+@\w+\.com', email)

## match

In [ ]:
sentence = 'The licence plate of my car is FRT-1998'

In [ ]:
re.match('[A-Za-z]{3}-\d{4}', sentence)

In [ ]:
sentence = 'FRT-1998 is the licence plate number'

In [ ]:
re.match('[A-Za-z]{3}-\d{4}', sentence)

## findall

In [ ]:
sentence = 'My phone number is (00)0000-0000. The old number is (11)1111-1111'

In [ ]:
re.findall('\(\d{2}\)\d{4}-\d{4}', sentence)

['(00)0000-0000', '(11)1111-1111']

In [ ]:
emails = '''Name: Test 1
email: test1@test.com
Name: Test 2
email: test2@test.com
Name: Test 3
email: test3@test.com.br
'''

In [ ]:
re.findall('\w+@\w+\.com', emails)

['test1@test.com', 'test2@test.com', 'test3@test.com']

# Objected oriented

In [ ]:
class Triangle:
  def __init__(self, side1, side2, side3, base, height):
    self.side1 = side1
    self.side2 = side2
    self.side3 = side3
    self.base = base
    self.height = height

  def area(self):
    return (self.base * self.height) / 2

  def type(self):
    if self.side1 > self.side2 + self.side3:
      return 'it is not a triangle'
    elif self.side1 == self.side2 or self.side1 == self.side3 or self.side1 == self.side2:
      return 'isosceles'
    else:
      return 'other type of triangle'

In [ ]:
t1 = Triangle(5, 1, 3, 4, 3)

In [ ]:
(4 * 3) / 2

6.0

In [ ]:
print(t1.side1, t1.side2, t1.side3, t1.base, t1.height)

5 1 3 4 3

In [ ]:
t1.area()

6.0

In [ ]:
t1.type()

'it is not a triangle'

In [ ]:
t2 = Triangle(8, 8, 8, 16, 9)

In [ ]:
print(t2.side1, t2.side2, t2.side3, t2.base, t2.height)

8 8 8 16 9

In [ ]:
t2.area()

72.0

In [ ]:
t2.type()

'isosceles'