<a href="https://colab.research.google.com/github/lodxdy/AI-ML/blob/main/The_Ultimate_Beginners_Guide_to_Python_Programming_Homework_solutions_AI_Expert.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Ultimate Beginners Guide to Python Programming - Homework solutions

# Mathematical operations

## Exercise 1

- Read two integer numbers, execute and display the result of the following operations: addition, subtraction, multiplication and division

In [ ]:
number1 = int(input('Type the first number: '))
number2 = int(input('Type the second number: '))

Type the first number: 6
Type the second number: 4

In [ ]:
print(number1, number2)

6 4

In [ ]:
sum = number1 + number2
subtraction = number1 - number2
multiplication = number1 * number2
division = number1 / number2

In [ ]:
print('Sum: ', sum)
print('Subtraction: ', subtraction)
print('Multiplication: ', multiplication)
print('Division: ', round(division, 2))

Sum:  10
Subtraction:  2
Multiplication:  24
Division:  1.5

## Exercise 2

- Calculate the amount of liters of fuel spent on a trip considering a car that consumes 12 km per liter. To obtain the calculation, the user must provide the time spent on the trip and the average speed during the trip. It is possible to obtain the distance traveled using the following equation DISTANCE = TIME * SPEED. Then you can calculate the liters using the following equation: LITERS = DISTANCE / 12. The program must present the values ​​of the average speed, time spent in the trip, the distance traveled and the amount of liters used on the trip

In [ ]:
time = float(input('Type the time spent in the trip: '))
speed = float(input('Type the average speed: '))

Type the time spent in the trip: 2
Type the average speed: 80

In [ ]:
print(time, speed)

2.0 80.0

In [ ]:
distance = time * speed
liters = distance / 12

In [ ]:
print('Average speed: ', speed)
print('Time spent in the trip: ', time)
print('Distance:', distance)
print('Liters:', round(liters,1))

Average speed:  80.0
Time spent in the trip:  2.0
Distance: 160.0
Liters: 13.3

# Logical and conditional operators

## Exercise 1

- Read the user's age and classify he/she into:

 - Child - 0 to 12 years old

 - Teenager - 13 to 17 years old

 - Adult - over 18 years old

 - If a negative number is entered, an error message must be showed

In [ ]:
age = int(input('Type the age: '))

Type the age: -4

In [ ]:
print(age)

-4

In [ ]:
if age >= 0 and age <= 12:
  print('Child')
elif age > 12 and age <= 18:
  print('Teenager')
elif age > 18:
  print('Adult')
else:
  print('Invalid age')

Invalid age

## Exercise 2

- Use the mean calculation to get the average of a student by reading the grades G1, G2 and G3. After the average is calculated, print if the student is approved, has failed or has taken the exam. If the average is in the range from 0.0 to 4.0 the student has failed. If the average is in the range from 4.1 to 6.0 the student has taken the exam. Finally, If the average is greater than 6.0 the student has been approved. If the student took the exam, the exam grade must be read. If the exam grade is greater than 6.0, he/she is approved, otherwise; is failed

In [ ]:
g1 = float(input('Type G1: '))
g2 = float(input('Type G2: '))
g3 = float(input('Type G3: '))

Type G1: 7
Type G2: 8
Type G3: 9

In [ ]:
average = (g1 + g2 + g3) / 3
print(average)

8.0

In [ ]:
if average >= 0.0 and average <= 4.0:
  print('Failed')
elif average >= 4.1 and average <= 6.0:
  exam = float(input('Type the grade of the exam: '))
  if exam >= 6.0:
    print('Approved')
  else:
    print('Failed in the exam')
else:
  print('Approved')

Approved

# Loops

## Exercise 1

- Read 5 numbers and calculate the average

### For

In [ ]:
number = average = sum = 0

In [ ]:
print(number, average, sum)

0 0 0

In [ ]:
for _ in range(1, 6):
  number = float(input('Type the number '))
  sum += number

Type the number 5
Type the number 2
Type the number 3
Type the number 4
Type the number 7

In [ ]:
print(sum)

21.0

In [ ]:
average = sum / 5
print('The average is ', average)

The average is  4.2

### While

In [ ]:
sum = 0
number = 1
while number <= 5:
  score = float(input('Type the number/score:'))
  sum += score
  number += 1
print('The average is ', sum / 5)

Type the number/score:4
Type the number/score:5
Type the number/score:6
Type the number/score:1
Type the number/score:2
The average is  3.6

## Exercise 2

- Print the multiplication from 1 to 10 considering number 3 (3 x 1 = 1, ..., 3 x 10 = 30)

### For

In [ ]:
for i in range(1, 11):
  print('3 x {} = {}'.format(i, 3 * i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

### While

In [ ]:
number = 1
while number <= 10:
  print('3 x {} = {}'.format(number, 3 * number))
  number += 1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

# Lists, dictionaries and matrices

## Exercise 1 - lists

- Build a loop to read 5 numbers and store them in a list. After reading, implement another loop to add all values

In [ ]:
list_of_numbers = []
for _ in range(1, 6):
  number = int(input('Type the number: '))
  list_of_numbers.append(number)

Type the number: 6
Type the number: 1
Type the number: 4
Type the number: 6
Type the number: 8

In [ ]:
list_of_numbers

[6, 1, 4, 6, 8]

In [ ]:
len(list_of_numbers)

5

In [ ]:
sum = 0
for i in range(len(list_of_numbers)):
  sum += list_of_numbers[i]
print('Sum: ', sum)

Sum:  25

## Exercise 2 - dictionaries

- Build a dictionary to store the name and grade of 3 students (read the values using a loop structure). Build a new loop to add all the grades and calculate the average

In [ ]:
students = {}
for _ in range(1, 4):
  name = input('Type the name of the student: ')
  grade = float(input('Type the grade: '))
  students[name] = grade

Type the name of the student: Peter
Type the grade: 6.5
Type the name of the student: John
Type the grade: 8
Type the name of the student: Maria
Type the grade: 10

In [ ]:
students

{'Peter': 6.5, 'John': 8.0, 'Maria': 10.0}

In [ ]:
students['John']

8.0

In [ ]:
students.values()

dict_values([6.5, 8.0, 10.0])

In [ ]:
sum = 0
for grade in students.values():
  sum += grade
print('Average: ', sum / 3)

Average:  8.166666666666666

## Exercise 3 - matrices

- Given the array below, build a loop to go through all the elements and add them all
```
matrix = np.array([[3, 4, 1],
                   [3, 1, 5]])
```

In [ ]:
import numpy as np

In [ ]:
matrix = np.array([[3, 4, 1],
                   [3, 1, 5]])
matrix

array([[3, 4, 1],
       [3, 1, 5]])

In [ ]:
matrix.shape

(2, 3)

In [ ]:
sum = 0
for i in range(matrix.shape[0]):
  for j in range(matrix.shape[1]):
    #print(matrix[i][j])
    sum += matrix[i][j]
print('Sum: ', sum)

Sum:  17

# Functions

## Exercise 1

- Read a temperature in degrees Celsius and print it converted to degrees Fahrenheit. The equation is F = (9 * C + 160) / 5, where F is the temperature in Fahrenheit and C is the temperature in Celsius. Create the following functions:

 - Function to read and return the temperature value in degrees Celsius (no parameter)

 - Function to perform the calculation (receives as parameter the temperature in degrees Celsius)

 - Function to display the result (receives the result as parameter and only prints the result)

In [ ]:
def read_temperature():
  temperature = float(input('Type the temperature in degrees Celsius: '))
  return temperature

In [ ]:
def convert(temperature_celsius):
  temperature_f = (9 * temperature_celsius + 160) / 5
  return temperature_f

In [ ]:
def show(temperature_f):
  print(temperature_f)

In [ ]:
temperature_c = read_temperature()
temperature_f = convert(temperature_c)
show(temperature_f)

Type the temperature in degrees Celsius: 30
86.0

## Exercise 2

- Calculate the amount of liters of fuel spent on a trip considering a car that consumes 12 km per liter. To obtain the calculation, the user must provide the time spent on the trip and the average speed during the trip. It is possible to obtain the distance traveled using the following equation DISTANCE = TIME * SPEED. Then you can calculate the liters using the following equation: LITERS = DISTANCE / 12. The program must present the values ​​of the average speed, time spent in the trip, the distance traveled and the amount of liters used on the trip

 - Function to read the values (no parameter and returns both values inputted by the user)

 - Function to calculate the distance (receives time and speed as parameter and returns the distance)

 - Function to calculate the amount of liters (receives distance as parameter and returns the liters)

 - Function to display the result (receives all the values as a parameter and only prints the result)

In [ ]:
def read():
  time = float(input('Type the time spent in the trip: '))
  speed = float(input('Type the average speed: '))
  return time, speed

In [ ]:
def calculate_distance(time, speed):
  return time * speed

In [ ]:
def calculate_liters(distance):
  return distance / 12

In [ ]:
def show(speed, time, distance, liters):
  print('Speed:', speed)
  print('Time:', time)
  print('Distance:', distance)
  print('Liters:', liters)

In [ ]:
t, s = read()
d = calculate_distance(t, s)
l = calculate_liters(d)
show(s, t, d, l)

Type the time spent in the trip: 2
Type the average speed: 80
Speed: 80.0
Time: 2.0
Distance: 160.0
Liters: 13.333333333333334

# Custom packages

Create a .py file with two functions

  - Function to read a string (receives a message as a parameter and returns what the user has typed)
  - Function to read a float number (receives a message as a parameter and returns what the user has typed)

Import the file in Google Colab and test the functions

In [ ]:
import read_messages as rm

In [ ]:
text = rm.read_string('Type your name: ')
print(text)

Type your name: Jones
Jones

In [ ]:
car = rm.read_string('Type the model of your car: ')
print(car)

Type the model of your car: bmw
bmw

In [ ]:
number1 = rm.read_float('Type the first number: ')
print(number1)

Type the first number: 5
5.0

In [ ]:
number2 = rm.read_float('Type the second number: ')
print(number2)

Type the second number: 8
8.0

In [ ]:
number1 + number2

13.0

# Errors and exceptions

- Create an empty list and read two float values, placing each of the values in the first positions of the list (value 1 will be in position 0 and value 2 will be in position 1). Divide the two values and handle the following exceptions:
  - ValueError: if the user types a character
  - ZeroDivisionError: if user enters zero
  - IndexError: if the division is done taking into account positions that do not exist in the list
  - KeyboardInterrupt: if the user interrupts the execution

- Show a custom message when each of these errors occurs

In [ ]:
list_of_values = []
try:
  list_of_values.append(float(input('Type the first value: ')))
  list_of_values.append(float(input('Type the second value: ')))
  division = list_of_values[0] / list_of_values[1]
except ValueError:
  print('Error! Invalid value')
except ZeroDivisionError:
  print('Error! Division by zero')
except IndexError:
  print('Error! Invalid index')
except KeyboardInterrupt:
  print('User has interrupted the execution')
else:
  print(f'The division is {division}')

Type the first value: 5
Type the second value: 7
The division is 0.7142857142857143

# Text files

- Consider the dictionary below (with the name of the students and their corresponding grades), create a loop to go through each element of the dictionary to write the data about the students in a new text file
  - Each student must be in a new line of the new text file
  - The formatation must be: name,grade (example: Peter,8.0)
  - After creating the text file, read the file and show all students

  - Dictionary example: `students = {'Peter': 8.0, 'Maria': 10.0, 'John': 7.5}`

In [ ]:
students = {'Peter': 8.0, 'Maria': 10.0, 'John': 7.5}
students

{'Peter': 8.0, 'Maria': 10.0, 'John': 7.5}

In [ ]:
with open('students.txt', 'w') as students_file:
  for student, grade in students.items():
    students_file.write(f'{student},{grade}\n')

In [ ]:
with open('students.txt', 'r') as students_file:
  for row in students_file:
    print(row)

Peter,8.0

Maria,10.0

John,7.5

# Regular expressions

- Create regular expressions to extract the following information from the text below (use the findall function):
– Numbers
– zip codes
– URLs

Text: `My house is on 78 Peter Street. The zipcode is 88388-000 and 11111-111. My website is https://www.iaexpert.academy or http://iaexpert.com.br`

In [ ]:
text = 'My house is on 78 Peter Street. The zipcode is 88388-000 and 11111-111. My website is https://www.iaexpert.academy or http://iaexpert.com.br'

In [ ]:
import re
re.findall('\d', text)

['7',
 '8',
 '8',
 '8',
 '3',
 '8',
 '8',
 '0',
 '0',
 '0',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1']

In [ ]:
re.findall('\d{5}-\d{3}', text)

['88388-000', '11111-111']

In [ ]:
re.findall('https?://[A-Za-z0-9./]+', text)

['https://www.iaexpert.academy', 'http://iaexpert.com.br']

# Object oriented

- Create a class called student with the following attributes:
  - Name
  - Grade 1
  - Grade 2
- Create a constructor for the class (__init__)

- Create the following methods:
  - Calculates average (returns the average of the grades)
  - Show data (only prints the value of all attributes)
  - Result (verifies if the student is approved or failed - if the average is greater or equal to 6.0 the student is approved; otherwise, he/she is failed)

- Create two objects (student1 and student2) to perform the tests

In [ ]:
class Student:
  def __init__(self, name, grade1, grade2):
    self.name = name
    self.grade1 = grade1
    self.grade2 = grade2
    self.average = 0.0

  def calculate_average(self):
    self.average = (self.grade1 + self.grade2) / 2
    return self.average

  def show_data(self):
    print('Name: ', self.name)
    print('Grade 1:', self.grade1)
    print('Grade 2:', self.grade2)
    print('Average:', self.average)

  def result(self):
    if self.average >= 6.0:
      print('Approved')
    else:
      print('Failed')

In [ ]:
student1 = Student('Peter', 7.0, 9.0)
average = student1.calculate_average()
print(average)

8.0

In [ ]:
student1.show_data()

Name:  Peter
Grade 1: 7.0
Grade 2: 9.0
Average: 8.0

In [ ]:
student1.result()

Approved

In [ ]:
student2 = Student('John', 7.0, 2.0)
average = student2.calculate_average()
student2.show_data()
student2.result()

Name:  John
Grade 1: 7.0
Grade 2: 2.0
Average: 4.5
Failed